<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ziraticket.dao.TicketMapper">
    <resultMap id="TicketMap" type="com.example.ziraticket.entity.Ticket">
        <id column="ticket_id" property="id" jdbcType="VARCHAR"/>
        <result column="ticket_number" property="number" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="estimate" property="estimate" jdbcType="SMALLINT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="assignee" property="assignee" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="ticket">
        ticket_id, ticket_number, project_name, parent_id, title, estimate, type, status, description, created_by, assignee, created_date, update_date
    </sql>

    <select id="getTicketByTicketName" resultMap="TicketMap">
        SELECT
        <include refid="ticket"/>
        FROM ticket
        WHERE project_name = #{projectName} AND ticket_number = #{number}
    </select>

    <select id="getTicketById" resultMap="TicketMap">
        SELECT
        <include refid="ticket"/>
        FROM ticket
        WHERE ticket_id = #{id}
    </select>

    <select id="getPagedTickets" resultMap="TicketMap">
        SELECT
        <include refid="ticket"/>
        FROM ticket
        WHERE project_name = #{projectName}
        LIMIT #{pageSize}
        OFFSET #{start}
    </select>

    <select id="getSubTicket" resultMap="TicketMap">
        SELECT
        <include refid="ticket"/>
        FROM ticket
        WHERE parent_id = #{id}
    </select>

    <select id="getTicketTotalPage" resultType="int">
        SELECT COUNT(*) FROM ticket WHERE project_name = #{projectName}
    </select>

    <update id="updateTicket" parameterType="com.example.ziraticket.entity.Ticket">
        UPDATE ticket
        <set>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="estimate != null">
                estimate = #{estimate},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="assignee != null">
                assignee = #{assignee},
            </if>
                update_date = now(),
        </set>
        WHERE ticket_id = #{id}
    </update>

    <insert id="addTicket" parameterType="com.example.ziraticket.entity.Ticket">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            SELECT uuid()
        </selectKey>
        INSERT INTO ticket
        <trim prefix="(" suffix=")" suffixOverrides="," >
            ticket_id,
            <if test="projectName != null">
                project_name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="estimate != null">
                estimate,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="assignee != null">
                assignee,
            </if>
            created_date,
        </trim>

        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            #{id},
            <if test="projectName != null">
                #{projectName},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="estimate != null">
                #{estimate},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="assignee != null">
                #{assignee},
            </if>
            now(),
        </trim>
    </insert>

    <delete id="deleteTicket">
        DELETE FROM ticket WHERE ticket_id = #{id}
    </delete>
</mapper>