<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ziraticket.dao.TicketSubscriptionMapper">
    <resultMap id="SubscriptionMapper" type="com.example.ziraticket.entity.TicketSubscription">
        <id column="ticket_id" property="ticketId" jdbcType="VARCHAR"/>
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="subscription">
        ticket_id, user_id
    </sql>

    <select id="getSubscriptionByTicketId">
        SELECT
        <include refid="subscription"/>
        FROM ticket_subscription
        WHERE ticket_id = #{ticketId}
    </select>

    <insert id="subscribe">
        INSERT INTO ticket_subscription
        (ticket_id, user_id)
        VALUES(#{ticketId}, #{userId})
    </insert>

    <delete id="unsubscribe">
        DELETE FROM ticket_subscription
        WHERE ticket_id = #{ticketId} AND user_id = #{userId})
    </delete>
</mapper>